<%= form_for(@transaction) do |f| %>
<% if @transaction.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

  <ul>
    <% @transaction.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <strong>Account:</strong>
  <%= f.text_field :account_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= f.text_field :created_at %>
</p>

<p>
  <strong>Payee:</strong>
  <%= f.text_field :payee_id %>
  <%= f.text_field :payee_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= f.text_field :category_id %>
  <%= f.text_field :category_name_with_splits %>
</p>

<p>
  <strong>Memo:</strong>
  <%#= f.text_area :memo %>
</p>

<p>
  <strong>Amount:</strong>
  <%= f.text_field :amount %>
</p>

<p>
  <strong>Cleared:</strong>
  <%= f.check_box :cleared %>
</p>

<p>
  <strong>Currency exchange rate:</strong>
  <%#= f.text_field :currency_exchange_rate %>
</p>

<p>
  <strong>Balance:</strong>
  <%#= f.text_field :balance %>
</p>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

