%tr
  %td= cleared_icon transaction.cleared
  %td= link_to transaction.date.to_s(:short_date), transaction
  %td= transaction.account.name
  %td= transaction.payee_name
  %td= transaction.category_name 
  %td.currency= money transaction.amount

  - if show_balance
    %td.currency= money transaction.balance
