%tr
  %td= cleared_icon transaction.cleared
  %td= transaction.date.to_s(:short_date)
  %td= transaction.account.name
  %td= transaction.payee_name
  %td= transaction.category_id
  %td= transaction.amount
  %td= transaction.balance
  %td= transaction.uuid
  %td= link_to 'Show', transaction
