%tr
  %td= cleared_icon transaction.cleared
  %td= link_to transaction.date.to_s(:short_date), transaction
  %td= transaction.account.name if transaction.account_id
  %td= transaction.payee_name
  %td= transaction.category_name 
  %td.currency= money transaction.amount
  %td

    = link_to transaction, :class=>"btn btn-primary btn-lg btn-info btn-mini", :role=>"button" do
      = t('.show', :default => t("helpers.links.show"))
    
    = link_to  edit_transaction_path(transaction), :class => 'btn btn-mini btn-info' do 
      %i.icon-white
        = t('.edit', :default => t("helpers.links.edit"))

    = link_to new_transaction_path, :class => 'btn btn-mini btn-info' do  
      %i.icon-white
        = t('.new', :default => t("helpers.links.new"))

  - if show_balance
    %td.currency= money transaction.balance

- transaction.splits.each do |split|
  %tr
    %td
      = split.pm_id
      = split.transaction_id
      .currency= money split.amount
      = split.class_id
