%h1 Listing transactions

%table.table
  %thead
    %tr
      %th
        %th Cleared
        %th Date
        %th Account
        %th Payee
        %th Category
        %th Amount
        %th Balance
        %th uuid

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.cleared
        %td= transaction.date
        %td= transaction.account.name
        %td= transaction.payee_name
        %td= transaction.category_id
        %td= transaction.amount
        %td= transaction.balance
        %td= transaction.uuid
        %td= link_to 'Show', transaction

%br

= link_to 'New Transaction', new_transaction_path
