<h1>Listing transactions</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Cleared</th>
      <th>Date</th>
      <th>Account</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>uuid</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= check_box_tag(transaction.cleared) %> </td>
        <td><%= transaction.date %></td>
        <td><%= transaction.account.name %></td>
        <td><%= transaction.payee_name %></td>
        <td><%= transaction.category_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.balance %></td>
        <td><%= transaction.uuid %></td>
        <td><%= link_to 'Show', transaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= line_chart Transaction.group_by_day(:created_at).count, :id => "users-chart", :height => "500px" %>
<%= pie_chart Transaction.active.group_by_day("date").count %>
