%h1 Listing transactions

.row
  .span3
    = render partial: 'filters'
  .span9
    = render partial: 'header'
    = render_transactions @filter.grouped_transactions, show_balance: false

%br

= link_to new_transaction_path, :class => 'btn btn-mini btn-info' do  
  %i.icon-white
    = t('.new', :default => t("helpers.links.new"))
