<h1>Show Transaction</h1>
<p id="notice"><%= notice %></p>

<legend align="left">Pretty Title</legend>

<p>
  <strong>Account:</strong> 
  <%= @transaction.account_id %>
  <%= @transaction.account.name  if @transaction.account_id %>
  <strong>Currency Code:</strong> 
  <%= @transaction.account.currency_code  if @transaction.account_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @transaction.created_at.to_s(:date_and_time) %> 
</p>

<p>
  <strong>Payee:</strong>
  <%= @transaction.payee_id %>
  <%= @transaction.payee_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category_name_with_splits  %>
  <% @transaction.splits.each do |split|  %>
    <br>
      <%= split.category.name %>
      <%= money split.amount%>
      <%= split.class_id%>
      <%#= split.department.name if @transaction.class_id %>
      <strong>Memo:</strong>
      <%= split.memo%>
      <strong>Transfer To:</strong>
      <%= split.transfer_to_account_id%>
      <%= split.currency_code%>
      <%end%>
</p>

<p>
  <strong>Amount:</strong>
  <%= money @transaction.amount %>
</p>

<p>
  <strong>Cleared:</strong>
  <%= cleared_icon @transaction.cleared %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>

