%h2 Show Transaction

%p
  %strong Account: 
  = @transaction.account_id
  = @transaction.account.try(:name)
  %strong Currency Code: 
  = @transaction.account.currency_code  if @transaction.account_id

%p
  %strong Created at:
  = @transaction.created_at.to_s(:date_and_time) 

%p
  %strong Payee:
  = @transaction.payee_id
  = @transaction.payee_name

%p
  %strong Cleared:
  =cleared_icon @transaction.cleared

%p
  %strong Amount:
  = money @transaction.amount

%legend{align: "left"}Categories 

%table.table-bordered
  %thead
    %tr
      %th.split Category
      %th.split Amount
      %th.split Department
      %th.split Memo
      %th.split Transfer To
      %th.split Currency

  %tbody
    - @transaction.splits.each do |split|
      %tr
        %td= split.category.name
        %td= money split.amount
        %td= split.department.name if split.department.try(:name) 
        %td= split.memo
        %td.text-center= split.transfer_to_account_id
        %td= split.currency_code
%br/

= link_to 'Edit', edit_transaction_path(@transaction) 
|
= link_to 'Back', transactions_path

