%tr
  %td= link_to account.name, account
  %td.currency= money account.cleared_balance
  %td.currency= money account.current_balance
  %td.currency= money account.current_balance
  %td.currency= money account.current_balance
  %td.currency= money account.current_balance
