%h1 Accounts

%table.table-bordered
  %thead
    %tr
      %th Name
      %th Cleared balance
      %th Current balance
      %th Future balance
      %th Available credits
      %th Available funds

  %tbody
    - @accounts.each do |account|
      = render account
    %tr
      %td Total
      %td.currency= money @accounts.sum {|a| a.cleared_balance }
      %td.currency= money @accounts.sum {|a| a.current_balance }
      %td.currency= money @accounts.sum {|a| a.current_balance }
      %td.currency= money @accounts.sum {|a| a.current_balance }
      %td.currency= money @accounts.sum {|a| a.current_balance }
